<div class="items">
    <span class="chose"></span>
    <div class="pic">
        <img ng-src="./Content/images/banner_1.jpg" alt="">
    </div>
    <div class="con">
        <h1><span class="bicname">春秋时尚潮流嘻哈男鸭舌帽</span></h1>
        <h2><span class="color">黑</span><span class="num ml20">L</span></h2>
        <h3><span class="price">￥49</span>
            <p>
                <span class="reduce" ng-click="itemCont('-')">-</span>
                <span class="count">1</span>
                <span class="add" ng-click="itemCount('+')">+</span>
            </p>
        </h3>
    </div>
</div>
<div class="items">
    <span class="chose"></span>
    <div class="pic">
        <img ng-src="./Content/images/banner_2.jpg" alt="">
    </div>
    <div class="con">
        <h1><span class="bicname">春秋时尚潮流嘻哈男鸭舌帽</span></h1>
        <h2><span class="color">黑</span><span class="num ml20">L</span></h2>
        <h3><span class="price">￥49</span>
            <p>
                <span class="reduce" ng-click="itemCont('-')">-</span>
                <span class="count">1</span>
                <span class="add" ng-click="itemCount('+')">+</span>
            </p>
        </h3>
    </div>
</div>
<div class="items">
    <span class="chose"></span>
    <div class="pic">
        <img ng-src="./Content/images/banner_3.jpg" alt="">
    </div>
    <div class="con">
        <h1><span class="bicname">春秋时尚潮流嘻哈男鸭舌帽</span></h1>
        <h2><span class="color">黑</span><span class="num ml20">L</span></h2>
        <h3><span class="price">￥49</span>
            <p>
                <span class="reduce" ng-click="itemCont('-')">-</span>
                <span class="count">1</span>
                <span class="add" ng-click="itemCount('+')">+</span>
            </p>
        </h3>
    </div>
</div>